<div id="about">
  <div id = "about-1">
    <img src="https://s-media-cache-ak0.pinimg.com/564x/21/eb/04/21eb04f33e46ecb597df6bd21a014e00.jpg" id = "about-img-1">
    <p id = "about-info-1">Azzuri Tours is becoming the leader of travel in Italy since today. The activies, tours, hotels, and meals have all been handcrafted by our own touring staff, who hold themselves to the highest standards. With a wide array of packages available, touring an Italian city has never been easier. From floating down the Grand Canal, to climbing Mount Vesuvious, to wine tasting in Tuscany, we provide it all. Azzuri Tours gives the premier experience of Italia.</p>
  </div>

  <div id = "about-2">
    <img src="http://www.theroamingboomers.com/wp-content/uploads/2013/01/Walks-of-Italy-Tour-Guide.jpg" id = "about-img-2">
    <p id = "about-info-2"> Featuring multi-lingual tour guides, fully immersive tours, and exciting events. We will provide you the vacation of a lifetime. The beauty of the landscape is just the beginning of what Italy has to offer the visitor. From the cafés that line its elegant piazzas to the scenic alps, magnificent seas and unrivaled architecture and historical sights, there are activities for every interest in Italy. And when you’re done sightseeing, Italy’s shopping is world class and its cuisine nothing short of legendary.</p>
  </div>

  <div id = "about-3">
    <img src="http://pre07.deviantart.net/389c/th/pre/i/2011/324/f/7/view_from_st__peter__s_basilica_hdr_panorama_by_scwl-d4gmj65.jpg" id = "about-img-3">
    <p id = "about-info-3">"With Italy's mix of culture and modernity, there is something that appeals to everyone. Personally, I was greatly rewarded for resisting the decadednt shopping of Via Nazionale, Roma. Not only did enjoy the quaint neighborhoods of the Cinque Terre, but its beautiful beaches and succulent seafood were the perfect end to an amzaing trip through the boot. The tranquility of Florence during the day gives way to the boistrous party scene come night time, with its bumping discotechs and eccentric bars. The beauty of the land is only matched by the beauty of the women."<br>
     <span id= "pope">-- Pope Francis</span></p>
  </div>
</div>
<center><a id = "about-gallery" href="/gallery">Check out our tours!</a></center>
