<div id = "about-1">
  <img src="https://s-media-cache-ak0.pinimg.com/564x/21/eb/04/21eb04f33e46ecb597df6bd21a014e00.jpg" id = "about-img-1">
  <p id = "about-info-1">Azzuri Tours is becoming the leader in travel in Italy since today. The activies, tours, hotels, and meals have all been handcrafted by our own touring staff, who hold themselves to the highest standards.</p>
</div>

<div id = "about-2">
  <img src="http://www.theroamingboomers.com/wp-content/uploads/2013/01/Walks-of-Italy-Tour-Guide.jpg" id = "about-img-2">
  <p id = "about-info-2">Azzuri Tours gives a premier experience of Italia. Featuring multi-lingual tour guides, fully immersive tours, and exciting events, we will provide you the vacation of a lifetime.</p>
</div>

<div id = "about-3">
  <img src="http://pre07.deviantart.net/389c/th/pre/i/2011/324/f/7/view_from_st__peter__s_basilica_hdr_panorama_by_scwl-d4gmj65.jpg" id = "about-img-3">
  <p id = "about-info-3">"With Italy's mix of culture and modernity, there is something that appeals to everyone. Personally, I was greatly rewarded for resisting the decadednt shopping of Via Nazionale, Roma. Not only did enjoy the quaint neighborhoods of the Cinque Terre, but its beautiful beaches and succulent seafood were the perfect end to an amzaing trip thorugh the boot. The tranquility of Florence during the day gives way to the boistrous party scene come night time, with its bumping discotechs and eccentric bars. The beauty of the land is only matched by the beauty of the women."
  - <span id= "pope">Pope Francis</span></p>
</div>

<a id = "about-contact" href="/contact">Meet our Tour Guides!</a>
