<br>
<br>
<br>
<br>
<h2 id="contact-head">Contact Us</h2>
<div id="form-div">
  <form action="/form-response" method ="post">
    <input id="from-input" type="text" name="from" value="" placeholder="From:">
    <input id="subject-input" type="text" name="subject" value="" placeholder="Subject">
    <br>
    <br>
    <textarea id="content-input" type="text" name="content" value="" placeholder="Type message here" rows="8" cols="80"></textarea>
    <br>
    <br>
    <input id="submit-button" type="submit">
  </form>
<br>
<br>
<br>
<br>
<br>
<div id="contact-info">
  <div class="motz-contact">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAiUAAAAJDlkM2Y4NDEyLWIyNTktNDVlNC05YWU4LWZlNjFlOTUxMjA0NA.jpg" class="contact-img" alt="">
    <p>Vincent Martorano</p>
    <p class="icons"><i class="fa fa-envelope-open" aria-hidden="true"></i> martoranov94@gmail.com</p>
    <p class="icons"><i class="fa fa-phone-square" aria-hidden="true"></i> (347)302-0724</p>
    <p class="icons">
      <a href="http://www.github.com/vmartorano"  target="_blank" i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="http://www.linkedin.com/in/vincent-martorano"  target="_blank" i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </p>
  </div>

  <div class="joel-contact">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAwyAAAAJDEyZDg5NDcyLTFkMGItNDBkYi1hZTUyLTZhZTBiYmZiN2JiOA.jpg" alt="">
    <p>Joel Varughese</p>
    <p><i class="fa fa-envelope-open" aria-hidden="true"></i> jtvarughese@gmail.com</p>
    <p><i class="fa fa-phone-square" aria-hidden="true"></i> (914)409-2775</p>
    <p class="icons">
      <a href="http://www.github.com/jtvarughese" target="_blank" i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="http://www.linkedin.com/in/joel-varughese"  target="_blank" i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </p>
  </div>
</div>
