<div id="form-div">
  <form action="/form-response" method ="post">
    <input id="from-input" type="text" name="from" value="" placeholder="From:">
    <input id="subject-input" type="text" name="subject" value="" placeholder="Subject">
    <input id="content-input" type="textarea" name="content" value="" placeholder="Type message here">
    <input id="submit-button" type="submit">
  </form>

<div class="motz-contact">
  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAiUAAAAJDlkM2Y4NDEyLWIyNTktNDVlNC05YWU4LWZlNjFlOTUxMjA0NA.jpg" class="contact-img" alt="">
  <p>Vincent Martorano</p>
  <p><i class="fa fa-envelope-open" aria-hidden="true"></i> martoranov94@gmail.com</p>
  <p><i class="fa fa-phone-square" aria-hidden="true"></i> (347)302-0724</p>
  <p><a href="http://www.github.com/vmartorano" i class="fa fa-github" aria-hidden="true"></i></a></p>
  <p><a href="http://www.linkedin.com/in/vincent-martorano" i class="fa fa-linkedin-square" aria-hidden="true"></i></a></p>
</div>

<div class="joel-contact">
  <img src="joel.jpg" alt="">
  <p>Joel Varughese</p>
  <p><i class="fa fa-envelope-open" aria-hidden="true"></i> jtvarughese@gmail.com</p>
  <p><i class="fa fa-phone-square" aria-hidden="true"></i> (914)409-2775</p>
  <p><a href="http://www.github.com/jtvarughese" i class="fa fa-github" aria-hidden="true"></i></a></p>
  <p><a href="http://www.linkedin.com/in/joel-varughese" i class="fa fa-linkedin-square" aria-hidden="true"></i></a></p>
</div>
