<form action="/form-response" method ="post">
  <input id="to-input" type="text" name="to" value="" placeholder="To:">
  <input id="subject-input" type="text" name="subject" value="" placeholder="Subject">
  <input id="from-input" type="text" name="from" value="" placeholder="From:">
  <input id="content-input" type="textarea" name="content" value="" placeholder="Type message here">
  <input id="submit-button" type="submit">
</form>

<div class="motz-contact">
  <img src="motz.jpg" alt="">
  <p>Vincent Martorano</p>
  <p>email: martoranov94@gmail.com</p>
  <p>347-302-0724</p>
</div>

<div class="joel-contact">
  <img src="joel.jpg" alt="">
  <p>Joel Varughese</p>
  <p>email: jtvarughese@gmail.com</p>
  <p>914-409-2775</p>
</div>
