<div class="gallery-container">
  <ul id="slides">
    <li id = "rome-pic" class = "slide showing"></li>
    <li id = "venice-pic" class = "slide"></li>
    <li id = "florence-pic" class = "slide"></li>
    <li id = "pisa-pic" class = "slide"></li>
    <li id = "naples-pic" class = "slide"></li>
    <li id = "pompeii-pic" class = "slide"></li>
    <li id = "cinque-terre-pic" class = "slide"></li>
    <li id = "milan-pic" class = "slide"></li>
  </ul>
</div>

<div class="buttons">
    <button class="controls" id="previous">&lt;</button>
    <button class="controls" id="pause">&#10074;&#10074;</button>
    <button class="controls" id="next">&gt;</button>
  </div>
</div>

<div id = "rome">
  <h3>Rome</h3>
  <p>“An ancient city with a modern twist considered one of the world’s most photogenic cities. Whether you spend your time sightseeing, or watching the world go by in a scenic outdoor cafe, it will be your turn experience your very own Roman Holiday.</p>
</div>

<div id = "venice">
  <h3>Venice</h3>
  <p>Enjoy a ride in a gondola down one of the world’s oldest waterways — the Grand Canal. A romantic voyage showcasing Italy’s old world charm. Shop in one of the best fashion capitals of the world.</p>
</div>

<div id = "florence">
  <h3>Florence</h3>
  <p>Home to the Duomo, the capital of Tuscany boasts remarkable works of art such as “The David” and “The Birth of Venus. Provides some of the best night-life locations in the country.</p>
</div>

<div id = "pisa">
  <h3>Pisa</h3>
  <p></p>
</div>

<div id = "naples">
  <h3>Naples</h3>
  <p></p>
</div>

<div id = "pompeii">
  <h3>Pompeii</h3>
  <p></p>
</div>

<div id = "cinque-terre">
  <h3>Cinque Terre</h3>
  <p></p>
</div>

<div id = "milan">
  <h3>Milan</h3>
  <p></p>
</div>
