<ul class="carousel">
  <li id = "rome-pic" class = "city-showing">
    <img  src="https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5232386545001_5215063851001-vs.jpg?pubId=5104226627001&videoId=5215063851001">
  </li>

  <li id = "venice-pic" class = "city">
    <img  src="http://pearceonearth.com/wp-content/uploads/2013/07/italy_venice.jpg">
  </li>

  <li id = "florence-pic" class = "city">
      <img  src="http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/videos/florence_0.jpg?itok=7sWZ9tCK">
  </li>
</ul>

<div id = "rome">
  <h3>Rome</h3>
  <p>“An ancient city with a modern twist considered one of the world’s most photogenic cities. Whether you spend your time sightseeing, or watching the world go by in a scenic outdoor cafe, it will be your turn experience your very own Roman Holiday.</p>
</div>

<div id = "venice">
  <h3>Venice</h3>
  <p>Enjoy a ride in a gondola down one of the world’s oldest waterways — the Grand Canal. A romantic voyage showcasing Italy’s old world charm. Shop in one of the best fashion capitals of the world.</p>
</div>

<div id = "florence">
  <h3>Florence</h3>
  <p>Home to the Duomo, the capital of Tuscany boasts remarkable works of art such as “The David” and “The Birth of Venus. Provides some of the best night-life locations in the country.</p>
</div>
