<div class="top">
  <div class="container">
    <div class="main">
      <h1 id="azzuri">Azzuri Tours</h1>
      <h2 id="welcome">Benvenuti!</h2>
      <a class="home-button" href="">LEARN MORE</a>
      <div class="hidden" id='modal'>
        <button class="exit-button" id="exit-button">Exit</button>
        <div class="modal2">
          <h2>Interested in joining the newsletter? </h2>
          <h2>Learn about The Boot!</h2>
          <input type="text" name="email" id="email" placeholder="Enter Email Address">
          <div id='submit'>
            <button onclick="checkModal()">Submit</button>
          </div>
        </div>
      </div>
    </div>
