<!DOCTYPE html>
<html>
 <head>
   <meta charset=“utf-8”>
   <link rel=“icon” href=“https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Italy_blank.svg/2000px-Italy_blank.svg.png“>
   <link rel=“stylesheet” href=“main.css”>
   <title>Euro Tours</title>
 </head>
 <body>
   <header>

   </header>
   <nav>
     <a href=“/”>Home</a>
     <a href=“/about”>About</a>
     <a href=“/gallery”>Gallery</a>
     <a href=“/contact”>Contact</a>
   </nav>

   <%= yield %>

   <footer>
   </footer>
   <script type=“text/javascript” src=“main.js”></script>
 </body>
</html>
